#BE
expenses_tracker_be/.bundle
expenses_tracker_be/.rspec_status
expenses_tracker_be/log/*
!/expenses_tracker_be/log/.keep
expenses_tracker_be/storage/*
!/expenses_tracker_be/storage/.keep
expenses_tracker_be/public/assets
expenses_tracker_be/config/master.key
expenses_tracker_be/tmp/*
!/expenses_tracker_be/tmp/.keep
expenses_tracker_be/tmp/pids/*
!/expenses_tracker_be/tmp/pids/
!/expenses_tracker_be/tmp/pids/.keep
expenses_tracker_be/tmp/storage/*
!/expenses_tracker_be/tmp/storage/
!/expenses_tracker_be/tmp/storage/.keep

#FE
expenses_tracker_fe/node_modules
expenses_tracker_fe/.pnp
expenses_tracker_fe/.pnp.js
expenses_tracker_fe/# testing
expenses_tracker_fe//coverage
expenses_tracker_fe/# production
expenses_tracker_fe/build
expenses_tracker_fe/# misc
expenses_tracker_fe/.DS_Store
expenses_tracker_fe/.env.local
expenses_tracker_fe/.env.development.local
expenses_tracker_fe/.env.test.local
expenses_tracker_fe/.env.production.local
expenses_tracker_fe/npm-debug.log*
expenses_tracker_fe/yarn-debug.log*
expenses_tracker_fe/yarn-error.log*
expenses_tracker_fe/.dockerignore
expenses_tracker_fe/Dockerfile
expenses_tracker_fe/Dockerfile.prod
expenses_tracker_fe/.env

.vscode