.container {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 10px;
  grid-template-areas:
    'sidebar1 sidebar1 main1 main1 main1 main2 main2 main2'
    'sidebar1 sidebar1 main1 main1 main1 main2 main2 main2'
    'sidebar2 sidebar2 main1 main1 main1 main2 main2 main2'
    'sidebar2 sidebar2 main1 main1 main1 main2 main2 main2'
    'sidebar2 sidebar2 footer1 footer1 footer footer footer footer2'
    'sidebar2 sidebar2 footer1 footer1 footer footer footer footer2';
}

.sidebar1 {
  grid-area: sidebar1;
}

.sidebar2 {
  grid-area: sidebar2;
}

.sidebar3 {
  grid-area: sidebar3;
}

.main1 {
  grid-area: main1;
}

.main2 {
  grid-area: main2;
}

.footer {
  grid-area: footer;
}
